.DS_Store
.RData
.Rhistory
.Rproj.user/
Icon\r
0_Covariates.R
0_age_sex.R
1_Cohen.R
2_Distributional_overlap.R
2_Heterogeneity.R
3_Load.R
3_Severity.R
3_avg_clinical.R
4_Correlation_summary_scores.R
AO
Age_sex_site.xlsx
Average_cortical_Thickness.Rmd
Average_cortical_Thickness.nb.html
BDI
BMI
Boxplot
CTQ
Clinical_analysis.RData
Continous_ENIGMA_MDD.xlsx
Correlation.R
Demographics_table.R
Distributional_overlap.docx
ENIGMA.RData
ENIGMA.Rproj
ENIGMA.docx
ENIGMA.pdf
ENIGMA_load.docx
ENIGMA_nonadj.docx
ENIGMA_outdated
EV_table.csv
Explained_variance.R
Extteme_characteristics.R
For_Johanna.zip
HDRS
Heterogeneity.R
Icon
Individual_profiles.R
Json_writer.R
Lianne
MDD_OHBM.docx
MSLL.R
MSLL_table.csv
Overlap
Overlap.RData
Quality_control.R
Quality_control.RData
R_frame.csv
R_scripts
S1_Supplement_ENIGMA_tables.docx
S2_Supplement_ENIGMA_analysis-results..docx
Severity.R
Site_distribution.R
Site_summary.xlsx
Spiderplot.pptx
Supplement.qmd
Supplement.txt
Testing_Rfit.R
Widget.Rmd
Widget.nb.html
age_sex_thickness.docx
analysis.RData
analysis_test_MDD_random_06_RIFS_SPLINES
analysis_test_cont_random_06_RIFS_SPLINES
categorical_variables
chi_values.csv
clinical_covariates_categorical.xlsx
cohen.html
cohen_adjusted.csv
cohen_adjusted.xlsx
cohen_means_adjusted.csv
combine_MDD_con_test_data.R
continous_clinical_variables.csv
continous_clinical_variables_Dx.csv
cor.RData
cor_table.csv
correlation_table.csv
cross_table.csv
demographics_table.xlsx
derivatives
difference_in _percentage_MDD_HC.R
distributional_overlap.json
elastic_net.R
fdr_region_AO.csv
fdr_region_BDI.csv
fdr_region_HDRS.csv
full.csv
full.json
full_old.csv
gaussian.pptx
groups_overlap.R
high_vs_low.R
images
imp_random_06_caret.RData
imp_test_MDD_tab.csv
imp_test_cont_tab.csv
imp_train_cont_tab.csv
input_RIFS_GP_MDD_random_06
input_RIFS_GP_cont_random_06
input_test_MDD_random_06
input_test_MDD_random_06_RIFS_SPLINES
input_test_cont_random_06
input_test_cont_random_06_RIFS_SPLINES
lib
load_cov.RData
mean_age.csv
mean_sd.csv
myFile.html
new_cov
np_package_test.R
old
overlap.csv
percOfExtremesTable.csv
perc_MDD_neg.html
perc_MDD_pos.html
perc_cont_neg.html
perc_cont_pos.html
perc_table.csv
perc_table.xlsx
ppts
raw_data
regions.RData
regions.csv
regions_thickness.txt
residualized.RData
results_test_MDD_random_06_RIFS_SPLINES
results_test_cont_random_06_RIFS_SPLINES
scr
spiderplots.R
srmse.R
tab.csv
test.json
test.xml
test_tables.RData
z2thickness.R
z_scores.RData
~$D is a complex.docx
~$ENIGMA.docx
~$IGMA_1MAY2023_LS.docx
~$IGMA_home.docx
~$MDD_neg_load_Recur.pptx
~$Most_negative_load.pptx
~$NIGMA2.docx
~$pplement_ENIGMA.docx
~$pplement_ENIGMA_tables_KW.docx
~$yer_ENIGMAMDD_NormativeModel_LS.docx
!scr/ENIGMA.R
